*

!.pdf
!.tex
!.git
!.gitignore
!DEFINITIONS/DEFINITIONS.tex
!DEFINITIONS
!DEFINITIONS/latex
!DEFINITIONS/latex/definitions.tex
!.png
!1_divide_and_conquer/pictures
!DEFINITIONS/pictures
!*/pictures
